* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

h1 {
  background-color: rgba(205, 199, 199, 0.674);
}

h2 {
  text-align: center;
  font-size: 1rem;
  padding: 1em;
}

.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  background: linear-gradient(to top, rgb(216, 211, 211) 0% 80%, rgb(141, 121, 121));
}

body {
  font-family: "kanit" sans-serif;
  background: linear-gradient(rgb(216, 211, 211) 0% 60%, rgb(141, 121, 121));
}

.titulo-section {
  text-align: center;
  font-size: 1rem;
  padding: 0.5em;
  margin-top: 2em;
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .logo img {
    height: 45vh;
    width: 100%;
  }
  h2 {
    font-size: 1.3rem;
  }
  .titulo-section {
    font-size: 1.3rem;
    justify-items: center;
  }
  .contenedor-div li {
    font-size: 1.3rem;
  }
}
.img-index {
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.img-index img {
  width: 80vh;
  height: 80vh;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.contenedor-div {
  font-size: 1rem;
  padding: 0.75em;
}
.contenedor-div li {
  font-size: 0.8rem;
  padding: 0.5em;
  text-align: center;
  background-color: rgba(205, 199, 199, 0.674);
}

@media (min-width: 600px) {
  .img-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, minmax(55vh, 20vh));
  }
  .img-index img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .img-destacada {
    grid-row: span 2;
    grid-column: span 2;
    margin-left: 20px;
  }
  .contenedor-div li {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .img-index {
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(50vh, 20vh));
  }
  .img-destacada {
    grid-column: span 1;
    margin: 0 auto;
  }
}
.contenedor-div-agro {
  padding: 1em;
}
.contenedor-div-agro iframe {
  display: flex;
  flex-direction: row;
  border: solid 3px black;
  height: 80vh;
  width: 80vh;
  margin: 0 auto;
}

.p-video-agro {
  text-align: center;
  font-size: 1rem;
  padding: 3em;
}

.contenedor-div-agro img {
  display: none;
}

.img-agro {
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.img-agro img {
  width: 80vh;
  height: 80vh;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.p-img-agro {
  display: flex;
  text-align: center;
  font-size: 1rem;
  padding: 3em;
}

@media (min-width: 600px) {
  .p-video-agro {
    font-size: 1.3rem;
  }
  .contenedor-div-agro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 20px;
  }
  .contenedor-div-agro iframe {
    width: 90%;
    height: 80%;
    margin: 0 auto;
  }
  .contenedor-div-agro .paseo {
    display: grid;
    border: 3px black solid;
    width: 90%;
    height: 80%;
    justify-content: center;
    margin: 0 auto;
  }
  .img-agro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(55vh, 20vh));
    gap: 20px;
  }
  .img-agro img {
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }
  .p-img-agro {
    display: flex;
    text-align: center;
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  .contenedor-div-agro .fruta-crema {
    display: grid;
    border: solid black 3px;
    width: 90%;
    height: 80%;
  }
  .contenedor-div-agro {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(80vh, 60vh));
    gap: 20px;
  }
  .contenedor-div-agro iframe {
    grid-column: span 2;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .contenedor-div-agro img {
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .img-agro {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(60vh, 20vh));
  }
  .img-agro img {
    width: 90%;
    height: 100%;
  }
  .p-video-agro {
    font-size: 1.5rem;
  }
  .p-img-agro {
    font-size: 1.5rem;
  }
}
.contacto img {
  display: none;
}

.p-contacto-ubi {
  text-align: center;
  font-size: 1rem;
  padding: 1em;
}

.contacto-mapa {
  display: block;
  height: 80vh;
  width: 80vh;
  padding: 2em;
  margin: 0 auto;
}

.contactanos .p-contacto-formulario {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 1em;
}

.contactanos {
  background-color: rgba(205, 199, 199, 0.674);
  border-radius: 10px;
  border: 2px solid black;
  margin: 0 auto;
  width: 80%;
  font-size: 1rem;
  padding: 2em;
}

.contactanos .formulario {
  outline: none;
  padding: 0.3em;
}

.c-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-formulario label {
  text-align: center;
}

.formulario {
  padding: 2em;
}

@media (min-width: 600px) {
  .contacto {
    padding: 10px;
  }
  .contacto-mapa {
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
  }
  .contacto .p-contacto-ubi {
    font-size: 1.3rem;
  }
  .contacto .paisaje-contacto {
    display: block;
    margin: 0 auto;
    width: 90vh;
    height: 80vh;
    border: solid 3px black;
  }
  .contactanos {
    display: block;
    width: 70%;
    padding: 3em;
  }
}
@media (min-width: 1024px) {
  .contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 20vh 80vh 80vh;
    padding: 3em;
    gap: 3em;
  }
  .p-contacto-ubi {
    grid-column: span 2;
    font-size: 1.5rem;
  }
  .contacto .paisaje-contacto {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    border: 3px solid black;
  }
  .contacto .paisaje-contacto2 {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    border: 3px solid black;
  }
  .contacto .contacto-mapa {
    display: flex;
    grid-column: span 2;
    height: 100%;
    width: 90%;
    justify-content: center;
  }
  .contactanos {
    width: 50%;
  }
}
.nosotros-1 {
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.nosotros-1 .p-nosotros-1 {
  display: flex;
  font-size: 1rem;
  padding: 1em;
  text-align: center;
}

.nosotros-1 .img-nosotros-1 {
  width: 80vh;
  height: 80vh;
  border: 3px solid black;
}

.nosotros-2 .p-nosotros-2 {
  display: flex;
  font-size: 1rem;
  padding: 1em;
  text-align: center;
}

.nosotros-2 {
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.nosotros-2 img {
  display: flex;
  flex-direction: column;
  width: 80vh;
  height: 80vh;
  border: solid 3px black;
}

.nosotros-1 .img-nosotros-destacada {
  display: none;
}

.nosotros-2 .img1-nos-2-destacada {
  display: none;
}

.nosotros-2 .img2-nos-2-destacada {
  display: none;
}

@media (min-width: 600px) {
  .nosotros-1 .p-nosotros-1 {
    font-size: 1.3rem;
    padding: 1em;
  }
  .nosotros-1 .img-nosotros-1 {
    width: 80vh;
    height: 80vh;
  }
  .nosotros-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .nosotros-2 img {
    width: 80vh;
    height: 80vh;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .nosotros-1 .img-nosotros-destacada {
    display: flex;
    border: solid black 3px;
  }
  .nosotros-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 100vh;
  }
  .nosotros-1 img {
    width: 80vh;
    height: 80vh;
    margin: 0 auto;
  }
  .nosotros-1 .p-nosotros-1 {
    grid-column: span 2;
    font-size: 1.5rem;
    padding: 1em;
    text-align: center;
  }
  .nosotros-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 100vh 20vh 100vh;
  }
  .nosotros-2 .p-nosotros-2 {
    grid-column: span 2;
    font-size: 1.5rem;
    padding: 1em;
    text-align: center;
  }
  .nosotros-2 .img1-nos-2-destacada {
    display: flex;
    border: solid black 3px;
    justify-content: center;
    width: 80vh;
    height: 80vh;
    margin: 0 auto;
  }
  .nosotros-2 .img2-nos-2-destacada {
    display: flex;
    border: solid black 3px;
    justify-content: center;
    width: 80vh;
    height: 80vh;
    margin: 0 auto;
  }
}
.dulces .dulces1 {
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.dulces .dulces1 p {
  margin: 0 auto;
  font-size: 1rem;
  padding: 1em;
  text-align: center;
}
.dulces .dulces1 img {
  width: 80vh;
  height: 80vh;
  border: 3px solid black;
}

.dulces .dulces2 {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(205, 199, 199, 0.674);
}
.dulces .dulces2 li {
  font-size: 1rem;
  padding: 0.5em;
}

.fruta {
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.fruta img {
  width: 80vh;
  height: 80vh;
  border: 3px solid black;
}
.fruta p {
  margin: 0 auto;
  font-size: 1rem;
  padding: 1em;
  text-align: center;
}

.regionales {
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.regionales img {
  width: 80vh;
  height: 80vh;
  border: 3px solid black;
}
.regionales p {
  margin: 0 auto;
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 600px) {
  .dulces .dulces1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, minmax(65vh, 20vh));
    margin: 0 auto;
    padding: 1em;
  }
  .dulces .dulces1 img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .dulces1 .img-dulce1 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .dulces .titulo-p1 {
    font-size: 1.3rem;
    padding: 1.2em;
    text-align: center;
    margin: 0 auto;
  }
  .dulces p {
    font-size: 1.3rem;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
  }
  .dulces .dulces2 li {
    font-size: 1.3rem;
  }
  .fruta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh 15vh 80vh;
    margin: 0 auto;
  }
  .fruta p {
    font-size: 1.3rem;
    padding: 1em;
    grid-column: span 2;
  }
  .fruta img {
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
  .fruta .titulo-p2 {
    grid-column: span 2;
    font-size: 1.3rem;
    padding: 1em;
  }
  .regionales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, minmax(65vh, 20vh));
    margin: 0 auto;
  }
  .regionales img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .cont-regionales .titulo-p3 {
    font-size: 1.3rem;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
  }
  .cont-regionales p {
    font-size: 1.3rem;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
  }
  .regionales .img-reg-destacada {
    grid-column: span 2;
    grid-row: span 2;
  }
}
@media (min-width: 1024px) {
  .dulces1 .img-dulce1 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .dulces1 .titulo-p1 {
    font-size: 1.5rem;
  }
  .dulces p {
    font-size: 1.5rem;
    padding: 1em;
  }
  .dulces .dulces2 li {
    font-size: 1.5rem;
  }
  .fruta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15vh 20vh 80vh;
    margin: 0 auto;
  }
  .fruta p {
    font-size: 1.5rem;
    padding: 1em;
    grid-column: span 2;
  }
  .fruta img {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }
  .fruta .titulo-p2 {
    grid-column: span 2;
    font-size: 1.3rem;
    padding: 1em;
  }
  .cont-regionales p {
    font-size: 1.5rem;
    padding: 1em;
    grid-column: span 2;
  }
  .regionales .titulo-p3 {
    grid-column: span 2;
    font-size: 1.5rem;
    padding: 1em;
  }
  .regionales .img-reg-destacada {
    height: 70%;
    width: 70%;
  }
}
.boton-enviar {
  display: flex;
  padding-top: 1em;
  justify-content: center;
  border-radius: 15px;
}
.boton-enviar input {
  font-size: 0.5rem;
  background-color: rgba(207, 203, 203, 0.714);
  padding: 0.5em;
}

header {
  background-color: rgba(30, 35, 35, 0.595);
  padding: 0.5em;
  font-size: 1rem;
}

.nav-list-items {
  font-size: 1rem;
  text-align: center;
  padding: 0.3em;
  color: black;
  justify-content: space-around;
}
.nav-list-items a:hover {
  color: white;
}

@media (min-width: 600px) {
  .nav-list {
    text-align: center;
    justify-content: space-evenly;
  }
  .nav-list-items {
    font-size: 1.3rem;
    padding-left: 1.75em;
    padding-right: 1.75em;
    display: inline-block;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  .nav-list-items {
    font-size: 1.5rem;
    padding: 1em;
    text-align: center;
    justify-content: space-around;
  }
}
.footer {
  background-color: rgba(30, 35, 35, 0.595);
  color: black;
  font-size: 1rem;
  text-decoration: none;
  align-items: start;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 3em;
}

.footer-1 p {
  display: inline;
  color: black;
  font-size: 1rem;
}
.footer-1 a:hover {
  color: rgba(128, 128, 128, 0.575);
}
.footer-1 img {
  display: inline;
  width: 5vh;
  height: 5vh;
}

.footer-2 p {
  display: inline;
  color: black;
  font-size: 1rem;
}
.footer-2 img {
  display: inline;
  width: 5vh;
  height: 5vh;
}

@media (min-width: 600px) {
  .footer {
    background-color: rgba(30, 35, 35, 0.595);
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding: 3em;
  }
  .footer-1 p {
    display: inline;
    color: black;
    font-size: 1.2rem;
  }
  .footer-2 p {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
