* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style: none;
}

h1 {
  background-color: rgba(205, 199, 199, 0.674);
}

h2 {
  text-align: center;
  font-size: 1rem;
  padding: 1em;
}

.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  background-image: url(../img/logo-fondo.jpg);
}

body {
  font-family: "kanit" sans-serif;
}

header {
  background-color: rgba(30, 35, 35, 0.595);
  padding: 0.5em;
  font-size: 1rem;
}

.titulo-section {
  text-align: center;
  font-size: 1rem;
  padding: 0.5em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.nav-list-items {
  font-size: 1rem;
  text-align: center;
  padding: 0.3em;
  color: black;
  justify-content: space-around;
}
.nav-list-items a:hover {
  color: white;
}

.footer {
  background-color: rgba(30, 35, 35, 0.595);
  color: black;
  font-size: 1rem;
  text-decoration: none;
  align-items: start;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 5em;
}

.footer-1 p {
  display: inline;
  color: black;
  font-size: 1rem;
}
.footer-1 p img {
  display: inline;
  width: 25px;
  height: 25px;
}
.footer-1 p img a:hover {
  color: rgba(128, 128, 128, 0.575);
}

.footer-2 p {
  display: inline;
  color: black;
  font-size: 1rem;
}
.footer-2 p img {
  display: inline;
  width: 25px;
  height: 25px;
}

.img-index {
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.img-index img {
  width: 80%;
  height: 300px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.contenedor-div {
  font-size: 1rem;
  padding: 0.75em;
}
.contenedor-div li {
  font-size: 0.8rem;
  padding: 0.5em;
  text-align: center;
  background-color: rgba(205, 199, 199, 0.674);
}

.contenedor-div-agro {
  padding: 1em;
}
.contenedor-div-agro iframe {
  display: flex;
  flex-direction: row;
  border: solid 3px black;
  height: 300px;
  width: 100%;
}

.p-video-agro {
  text-align: center;
  font-size: 1rem;
  padding: 1em;
}

.contenedor-div-agro img {
  display: none;
}

.img-agro {
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.img-agro img {
  width: 75%;
  height: 300px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.p-img-agro {
  display: flex;
  text-align: center;
  font-size: 1rem;
  padding: 1em;
}

.contacto img {
  display: none;
}

.p-contacto-ubi {
  text-align: center;
  font-size: 1rem;
  padding: 1em;
}

.contacto-mapa {
  display: block;
  height: 500px;
  width: 100%;
  padding: 2em;
  margin: 0 auto;
}

.contactanos .p-contacto-formulario {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 1em;
}

.contactanos {
  background-color: rgba(205, 199, 199, 0.674);
  border-radius: 10px;
  border: 2px solid black;
  margin: 0 auto;
  width: 80%;
  font-size: 1rem;
  padding: 2em;
}

.contactanos .formulario {
  outline: none;
  padding: 5px;
}

.c-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-formulario label {
  text-align: center;
}

.formulario {
  padding: 2em;
}

.nosotros-1 {
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.nosotros-1 .p-nosotros-1 {
  display: flex;
  font-size: 1rem;
  padding: 1em;
  text-align: center;
}

.nosotros-1 .img-nosotros-1 {
  width: 80%;
  height: 300px;
  border: 3px solid black;
}

.nosotros-2 .p-nosotros-2 {
  display: flex;
  font-size: 1rem;
  padding: 1em;
  text-align: center;
}

.nosotros-2 {
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.nosotros-2 img {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 300px;
  border: solid 3px black;
}

.nosotros-1 .img-nosotros-destacada {
  display: none;
}

.nosotros-2 .img1-nos-2-destacada {
  display: none;
}

.nosotros-2 .img2-nos-2-destacada {
  display: none;
}

/*# sourceMappingURL=style.css.map */
