$MQ-tablet: 600px;
$MQ-pc: 1024px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul,
ol {
    list-style: none;
}

h1 {
    background-color: rgba(205, 199, 199, 0.674);
    font-size: 2rem;
    padding: 1em;

    & {
        animation-duration: 2s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
}

h2 {
    background-color: rgba(205, 199, 199, 0.674);
    text-align: center;
    font-size: 1rem;

    & {
        animation-duration: 3s;
        animation-name: slidein;
      }
}


.logo {
    display: flex;
    justify-content: center;

    & img {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        background: linear-gradient(to top, rgb(216, 211, 211) 0% 80%, rgb(141, 121, 121));
    }
}

body {
    font-family: 'kanit' sans-serif;
    background: linear-gradient(rgb(216, 211, 211) 0% 60%, rgb(141, 121, 121));
}

.titulo-section {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2em;
    margin-bottom: 1em;
}


@media (min-width: $MQ-tablet) {

    .logo img {
        height: 45vh;
        width: 100%;
    }

    h2 {
        font-size: 1.5rem;
    }

    .titulo-section {
        font-size: 2rem;
        justify-items: center;
    }

    .contenedor-div li {
        font-size: 1.3rem;
    }

}