.contenedor-div-agro iframe {
    flex-direction: row;
    border: solid 3px black;
    height: 55vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.contenedor-div-agro {

    padding: 2em;
    gap: 30px;

    p {
        text-align: center;
        align-items: center;
        background-color: rgb(202, 194, 194);
        box-shadow: 2px 2px;
        border-radius: 30px;
        font-size: 1rem;
        padding: 2em;
    }

    img {
        display: none;
    }
}

.p-video-agro {
    text-align: center;
    font-size: 1.1rem;
    padding: 2em;
}

.img-agro {
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 2em;

    img {
        width: 80%;
        height: 350px;
        border: solid 3px black;
    }
}

.p-img-agro {
    display: flex;
    text-align: center;
    font-size: 1.1rem;
    padding: 3em;
}

@media (min-width: $MQ-tablet) {
    .p-video-agro {
        font-size: 1.3rem;
    }

    .contenedor-div-agro {

        .moras-agro {
            display: grid;
        }

        .frambuesas-agro {
            display: grid;
        }

        .p-cont-agro1 {
            display: grid;
        }

        .p-cont-agro2 {
            display: grid;
        }

    }

    .contenedor-div-agro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 55vh 55vh 55vh;
        margin: 0 auto;
        gap: 50px;

        iframe {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            grid-column: span 2;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 0 auto;
            border: 3px solid black;
        }
    }

    .img-agro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(55vh, 20vh));
        gap: 20px;

        img {
            margin: 0 auto;
            height: 100%;
            width: 100%;
            object-fit: cover;
            border: solid 3px black;
        }
    }

    .p-img-agro {
        display: flex;
        text-align: center;
        font-size: 1.3rem;
    }

}

@media (min-width: $MQ-pc) {
    .contenedor-div-agro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 90vh 55vh 55vh;
        margin: 0 auto;
        gap: 20px;

        p {
            font-size: 1.5rem;
        }
    }

    .img-agro {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(60vh, 20vh));
        gap: 20px;

        img {
            object-fit: cover;
            border: solid 3px black;
        }
    }

    .p-video-agro {
        font-size: 1.5rem;
    }

    .p-img-agro {
        font-size: 1.5rem;
    }

}