.contenedor-div-agro {
    padding: 1em;

    & iframe {
        display: flex;
        flex-direction: row;
        border: solid 3px black;
        height: 300px;
        width: 100%;
    }
}

.p-video-agro {
    text-align: center;
    font-size: 1rem;
    padding: 1em;
}

.contenedor-div-agro img {
    display: none;
}

.img-agro {
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 2em;

    & img {
        width: 75%;
        height: 300px;
        border-color: black;
        border-style: solid;
        border-width: 2px;
    }
}

.p-img-agro {
    display: flex;
    text-align: center;
    font-size: 1rem;
    padding: 1em;
}

@media (min-with: $MQ-tablet) {
    .p-video-agro {
        font-size: 1.3rem;
        padding: 1em;
    }

    .contenedor-div-agro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;

        & iframe {
            width: 90%;
            height: 90%;
            margin: 0 auto;
        }
    }

    .contenedor-div-agro .paseo {
        display: grid;
        border: 3px black solid;
        width: 80%;
        height: 90%;
        justify-content: center;
        margin: 0 auto;
    }


    .img-agro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        & img {
            margin: 0 auto;
            height: 80%;
            width: 90%;
        }
    }

    .p-img-agro {
        display: flex;
        text-align: center;
        font-size: 1.3rem;
        padding: 0.5em;
    }

}

@media (min-with: $MQ-pc) {
    .contenedor-div-agro {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, minmax(500px, 20vh));

        & iframe {
            grid-column: span 2;
            align-items: center;
            width: 80%;
            height: 100%;
        }
    }

    .contenedor-div-agro .fruta-crema {
        display: grid;
        border: 3px black solid;
        width: 80%;
        height: 90%;
        justify-content: center;
        margin: 0 auto;
    }

    .img-agro {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(500px, 20vh));

        & img {
            width: 80%;
            height: 90%;
        }
    }

    .p-video-agro {
        font-size: 1.5rem;
    }

    .p-img-agro {
        font-size: 1.5rem;
    }

}