.contacto img {
    display: none;
}

.p-contacto-ubi {
    text-align: center;
    font-size: 1.1rem;
    padding: 1em;
}

.contacto-mapa {
    display: block;
    height: 100%;
    width: 100%;
    padding: 2em;
    margin: 0 auto;
}

.contactanos .p-contacto-formulario {
    text-align: center;
    font-size: 1.1rem;
    padding-bottom: 1em;
}

.contactanos {
    background-color: rgba(205, 199, 199, 0.674);
    border-radius: 10px;
    border: 2px solid black;
    margin: 0 auto;
    width: 80%;
    font-size: 1rem;
    padding: 2em;
}

.contactanos .formulario {
    outline: none;
    padding: .3em;
}

.c-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;

    & label {
        text-align: center;
    }
}

.formulario {
    padding: 2em;
}

@media (min-width: $MQ-tablet) {

    .contacto {
        padding: 10px;
    }

    .contacto-mapa {
        width: 100vh;
        height: 100vh;
        margin: 0 auto;
    }


    .contacto .p-contacto-ubi {
        font-size: 1.3rem;
    }

    .contacto .paisaje-contacto {
        display: block;
        margin: 0 auto;
        width: 90vh;
        height: 80vh;
        border: solid 3px black;
    }

    .contactanos {
        display: block;
        width: 70%;
        padding: 3em;
    }

}


@media (min-width: $MQ-pc) {

    .contacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10vh 80vh 80vh;
        padding: 3em;
        gap: 3em;
    }

    .p-contacto-ubi {
        grid-column: span 2;
        font-size: 1.5rem;
    }

    .contacto .paisaje-contacto {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        border: 3px solid black;
    }

    .contacto .paisaje-contacto2 {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        border: 3px solid black;
    }

    .contacto .contacto-mapa {
        display: flex;
        grid-column: span 2;
        height: 100%;
        width: 90%;
        justify-content: center;
    }

    .contactanos {
        width: 50%;
    }
}