.img-index {
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 2em;

    & img {
        width: 80%;
        height: 300px;
        border-color: black;
        border-style: solid;
        border-width: 2px;
    }
}