.img-index {
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 2em;

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border: solid black 3px;
    }
}

.contenedor-div {
    font-size: 1.1rem;
    padding: 0.75em;

    & li {
        font-size: 0.90rem;
        padding: 0.5em;
        text-align: center;
        background-color: rgba(205, 199, 199, 0.674);

        & {
            animation-duration: 3s;
            animation-name: slidein;
        }

        @keyframes slidein {
            from {
                margin-left: 100%;
                width: 300%
            }

            to {
                margin-left: 0%;
                width: 100%;
            }
        }
    }
}

@media (min-width: $MQ-tablet) {
    .img-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, minmax(45vh, 10vh));

        img {
            margin: 0 auto;
            border: solid black 3px;
        }
    }

    .img-destacada {
        grid-row: span 2;
        grid-column: span 2;
        margin: 0 auto;
    }

    .contenedor-div li {
        font-size: 1.3rem;
    }

}

@media (min-width: $MQ-pc) {
    .img-index {
        grid-template-columns: 2fr repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(50vh, 20vh));
    }

    .img-destacada {
        grid-column: span 1;
        margin: 0 auto;
    }

    .contenedor-div li {
        font-size: 1.5rem;
    }

}