.dulces .dulces1 {
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 1em;

    img {
        width: 80%;
        height: 80%;
        border: 3px solid black;
        object-fit: cover;
    }
}

.dulces p {
    margin: 0 auto;
    font-size: 1.3rem;
    padding: 1em;
    text-align: center;
}

.dulces .dulces2 {
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(205, 199, 199, 0.674);

    li {
        font-size: 1rem;
        padding: 0.5em;
    }
}

.fruta {
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 2em;

    img {
        width: 80%;
        height: 350px;
        border: 3px solid black;
        object-fit: cover;

    }

    p {
        margin: 0 auto;
        font-size: 1.3rem;
        padding: 1em;
        text-align: center;
    }

}

.frutos-rojos {
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 2em;

    img {
        width: 80%;
        height: 350px;
        border: 3px solid black;
        object-fit: cover;

    }

    p {
        margin: 0 auto;
        font-size: 1.3rem;
        padding: 1em;
        text-align: center;
        align-items: center;
        background-color: rgb(202, 194, 194);
        box-shadow: 2px 2px;
        border-radius: 30px;
    }

}

.regionales {
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    padding: 2em;

    img {
        width: 80%;
        height: 80%;
        border: 3px solid black;
        object-fit: cover;
    }
}

.cont-regionales p {
    margin: 0 auto;
    font-size: 1.3rem;
    padding: 1em;
    text-align: center;
}

@media (min-width: $MQ-tablet) {


    .dulces .dulces1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, minmax(65vh, 20vh));
        margin: 0 auto;
        padding: 1em;
        gap: 20px;

        img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            object-fit: cover;
        }
    }

    .dulces1 .img-dulce1 {
        grid-column: span 2;
    }

    .dulces .titulo-p1 {
        font-size: 1.3rem;
        padding: 1.2em;
        text-align: center;
        margin: 0 auto;
    }

    .dulces p {
        font-size: 1.3rem;
        padding: 1em;
        text-align: center;
        margin: 0 auto;
    }

    .dulces .dulces2 li {
        font-size: 1.3rem;
    }

    .fruta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15vh 15vh 80vh;
        margin: 0 auto;
        gap: 20px;

        p {
            font-size: 1.3rem;
            padding: 1em;
            grid-column: span 2;
        }

        img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            object-fit: cover;
        }
    }

    .frutos-rojos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15vh 80vh;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
            border: 3px solid black;
            object-fit: cover;

        }

        p {
            font-size: 1.3rem;
        }

        h2 {
            grid-column: span 2;
            padding: 1em;
        }

    }

    .fruta .titulo-p2 {
        grid-column: span 2;
        font-size: 1.3rem;
        padding: 1em;
    }

    .regionales {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, minmax(65vh, 20vh));
        margin: 0 auto;
        gap: 20px;

        img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            object-fit: cover;
        }
    }

    .cont-regionales .titulo-p3 {
        font-size: 1.3rem;
        padding: 1em;
        text-align: center;
        margin: 0 auto;
    }

    .cont-regionales p {
        font-size: 1.3rem;
        padding: 1em;
        text-align: center;
        margin: 0 auto;
    }

    .regionales .img-reg-destacada {
        grid-column: span 2;
    }

}

@media (min-width: $MQ-pc) {

    .dulces .dulces1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 35vh 35vh 65vh 65vh;
        margin: 0 auto;
        padding: 1em;
        gap: 20px;

        img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
    }

    .dulces1 .img-dulce1 {
        grid-column: span 2;
        grid-row: span 2;
    }


    .dulces1 .titulo-p1 {
        font-size: 1.5rem;
    }

    .dulces p {
        font-size: 1.5rem;
        padding: 1em;
    }

    .dulces .dulces2 li {
        font-size: 1.5rem;
    }

    .fruta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15vh 20vh 80vh;
        margin: 0 auto;

        p {
            font-size: 1.5rem;
            padding: 1em;
            grid-column: span 2;
        }

        img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }

    }

    .fruta .titulo-p2 {
        grid-column: span 2;
        font-size: 1.3rem;
        padding: 1em;
    }

    .regionales {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 45vh 45vh 75vh 75vh 75vh;
        margin: 0 auto;
        gap: 20px;

        img {
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
    }

    .regionales .img-reg-destacada {
        grid-row: span 2;
    }

    .cont-regionales p {
        font-size: 1.5rem;
        padding: 1em;
        grid-column: span 2;
    }

    .regionales .titulo-p3 {
        grid-column: span 2;
        font-size: 1.5rem;
        padding: 1em;
    }


}